 
body {
background-color: lightblue;
font-family: Helvetica;
}
 
#headerTag {
margin-top: 0;
border: 2px solid black;
padding: 5px;
width:150px;
height: 120px;
text-align: center;
background: beige;
color: black;
}
 
label {
    display: block;
    }
    
    input {
    width: 30px;
    margin-left: 20px;
    }
    
    h2 {
    clear: both;
    padding-top: 20px;
    }
    
    button {
    width: 100px;
    margin-top: 20px;
    }
    
